#messages-page {
	--container-height: 600px;
	--message-self-color: hsl(240deg 100% 80%);
	--message-other-color: hsl(120deg 100% 50%);
	--message-roundness: 15px;
	--message-input-height: 30px;
	--message-container-padding: 20px;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	height: 100vh;
}

#messages-page .container {
	display: flex;
	width: 100%;
	flex: 1;
	overflow: hidden;
	padding: 20px 0px;
}

#messages-page .message-container {
	display: flex;
	flex-direction: column;
	justify-content: end;
	position: relative;
	padding: 0px var(--message-container-padding);
	overflow: hidden;
	flex: 1;
}

#messages-page .message-container::before {
	position: absolute;
	left: 0;
	width: 1px;
	height: 100%;
	box-shadow: 0px 0px 2px 0px black;
	content: "";
}

#messages-page .message-container > button {
	align-self: center;
	position: absolute;
	cursor: pointer;
	bottom: calc((3 * var(--message-container-padding)));
	padding: 5px 10px;
	border: none;
	border-radius: 5px;
	background-color: hsl(0deg 0% 80%);
	box-shadow: 0 0 5px 0 hsl(0deg 0% 30%);
	z-index: 1;
}

#messages-page .message {
	margin-bottom: 10px;
}

#messages-page .messages {
	position: relative;
	width: 100%;
	overflow: hidden auto;
	scrollbar-gutter: stable;
}

#messages-page .message-header {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-small;
}

#messages-page .self-message > .message-header {
	text-align: end;
}

#messages-page .message-content {
	width: fit-content;
	margin: 0;
	padding: 10px;
	border-radius: var(--message-roundness);
	background-color: var(--message-other-color);
	font-family: Arial, Helvetica, sans-serif;
	max-width: 50%;
	border-bottom-left-radius: 0;
	overflow-wrap: break-word;
}

#messages-page .self-message > .message-content {
	justify-self: end;
	border-radius: var(--message-roundness);
	background-color: var(--message-self-color);
	border-bottom-right-radius: 0;
}

#messages-page .message-field {
	display: flex;
	position: sticky;
	bottom: 0;
	width: auto;
	height: 30px;
}

#messages-page .message-field > input {
	height: var(--message-input-height);
	padding: 5px 20px;
	border: none;
	border-radius: 10px 0 0 10px;
	background-color: hsl(0deg 0% 90%);
	flex-grow: 1;
	box-sizing: border-box;
}

#messages-page .message-field > input:focus {
	outline: none;
}

#messages-page .message-field > button {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2px;
	cursor: pointer;
	height: var(--message-input-height);
	border: none;
	border-radius: 0 10px 10px 0;
	background-color: hsl(0deg, 0%, 75%);
	flex-grow: 0.05;
}

#messages-page .message-field img {
	width: 20px;
	height: 20px;
}

#messages-page .message-field > button:hover {
	background-color: hsl(0deg 0% 60%);
}

#messages-page .threads-container {
	min-width: 25%;
	max-width: 75%;
	resize: horizontal;
	overflow-y: auto;
}

#messages-page .thread {
	display: flex;
	align-items: center;
	gap: 10px;
	cursor: pointer;
	margin: 5px;
	padding: 5px 10px;
	border-radius: 10px;
	color: var(--neutral-clr-400);
	overflow: hidden;
	font-size: .85rem;
	font-weight: 600;
}

#messages-page .thread>img{
	--img-size: 30px;
	width: var(--img-size);
	height: var(--img-size);
	border-radius: 50%;
	background-color: var(--neutral-clr-800);
	object-fit: cover;
	filter: grayscale(1);
}

#messages-page .active-thread {
	background-color: hsl(0deg 0% 90%);
	color: black;
}

#messages-page .active-thread > img {
	filter: none;
}

#messages-page .thread:hover {
	background-color: hsl(0deg 0% 87%);
}
