body {
	margin: 0;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#profile-page {
	--default-profile-color: hsl(0deg 0% 80%);
	--profile-picture-size: 150px;
	--border-size: 25px;
	--margin-indent: 10%;
}

#profile-page .profile-container {
	position: relative;
	width: 100vw;
	height: 170px;
	margin-bottom: calc(var(--profile-picture-size) / 2 + var(--border-size));
	background-color: var(--default-profile-color);
}

#profile-page .profile-information {
	display: flex;
	gap: 20px;
	margin-left: calc(
		var(--profile-picture-size) / 2 + var(--margin-indent) + var(--border-size)
	);
	padding-top: 10px;
}

#profile-page .large {
	margin-right: calc(var(--margin-indent) / 3);
	font-size: xx-large;
}

#profile-page .about {
	width: calc(100vw - var(--margin-indent) * 2);
	margin-left: var(--margin-indent);
	padding: 10px;
	border: 1px solid black;
	border-radius: 5px;
	overflow-wrap: break-word;
}

#profile-page img {
	object-fit: cover;
}

#profile-page .bg-image {
	width: 100%;
	height: 100%;
}

#profile-page .pfp {
	position: absolute;
	top: 100%;
	left: var(--margin-indent);
	width: var(--profile-picture-size);
	height: var(--profile-picture-size);
	border: var(--border-size) solid white;
	border-radius: 50%;
	background-color: var(--default-profile-color);
	transform: translate(-50%, -50%);
}

#profile-page .profile-edit {
	position: absolute;
	cursor: pointer;
	top: 0;
	right: 0;
	margin: 20px;
	border-radius: 2px;
	background-color: white;
	box-shadow: 0 0 5px 0 hsl(0deg 0% 0%);
}
