#navbar {
	--nav-background: white;
	--background-clr-900: hsl(0deg 0% 90%);
	--background-clr-700: hsl(0deg 0% 70%);
	--background-clr-400: hsl(0deg 0% 40%);
	--search-min-width: 200px;
	--search-max-width: 400px;
	--search-bar-height: 40px;

	display: flex;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	top: 0;
	padding: 10px 50px;
	background-color: var(--nav-background);
	box-shadow: 0 0 2px 0 var(--neutral-clr-800);
	font-family: sans-serif;
	font-size: .9rem;
	z-index: 10000;
}

#navbar .search-container {
	display: flex;
	align-items: center;
	gap: 5px;
	position: relative;
	width: max-content;
	padding: 0px 10px;
	border: 1px solid var(--neutral-clr-700);
	border-radius: 10px;
	background-color: white;
	box-sizing: border-box;
}

#navbar .search-container:has(:focus) {
	border: 1px solid var(--neutral-clr-300);
	outline: none;
}

#navbar input[type="search"]::-webkit-search-decoration,
#navbar input[type="search"]::-webkit-search-cancel-button,
#navbar input[type="search"]::-webkit-search-results-button,
#navbar input[type="search"]::-webkit-search-results-decoration {
	appearance: none;
}

#navbar .search-bar {
	position: relative;
	width: clamp(var(--search-min-width), 100%, var(--search-max-width));
	height: var(--search-bar-height);
	border: none;
	background-color: transparent;
}

#navbar .search-bar:focus {
	outline: none;
}

#navbar .search-icon{
	width: 100%;
	height: 100%;
	object-fit: contain;
}

#navbar .links {
	display: flex;
	gap: 20px;
	list-style-type: none;
}

#navbar .links li {
	position: relative;
	cursor: pointer;
	padding: 2px;
	color: var(--neutral-clr-400);
	overflow: hidden;
	transition: all .5s;
}

#navbar .links li::after {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 2px;
	border-radius: 10px;
	background-color: black;
	content: "";
	transition: width .5s;
}


#navbar .links li:hover {
	color: black;
}

#navbar .links li:hover::after {
	width: 100%;
	color: black;
}

#navbar .links a {
	display: flex;
	align-items: center;
	gap: 2px;
}

#navbar .links img {
	width: 20px;
	height: 20px;
}

#navbar a {
	color: inherit;
	font-weight: 600;
	text-decoration: none;
}

#navbar .search-results {
	position: absolute;
	top: calc(var(--search-bar-height) + 10px);
	left: 0;
	width: 100%;
	padding: 10px;
	border: 1px solid var(--neutral-clr-700);
	border-radius: 10px;
	background-color: white;
	font-family: sans-serif;
	font-size: .8rem;
	font-weight: 600;
	box-sizing: border-box;
}

#navbar .search-results:has(ul:empty) {
	display: none;
}

#navbar .search-results > ul{
	margin: 0;
	margin-top: 5px;
	padding: 0;
	list-style: none;
}

#navbar .search-results>span {
	padding: 0px 5px;
}

#navbar .search-results a {
	display: flex;
	align-items: center;
	gap: 5px;
	padding: 3px;
	border-radius: 5px;
	font-size: .85rem;
	font-weight: 500;
}

#navbar .search-results a:hover {
	background-color: var(--neutral-clr-950);
}
