#navbar {
	--nav-background: white;
	--background-clr-900: hsl(0deg 0% 90%);
	--background-clr-700: hsl(0deg 0% 70%);
	--background-clr-400: hsl(0deg 0% 40%);
	--search-min-width: 200px;
	--search-max-width: 400px;
	--search-bar-height: 40px;

	display: flex;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	top: 0;
	padding: 10px 50px;
	background-color: var(--nav-background);
	box-shadow: 0 0 5px 0 black;
	z-index: 10000;
}

#navbar .search-container {
	width: clamp(var(--search-min-width), 20%, var(--search-max-width));
}

#navbar input[type="search"]::-webkit-search-decoration,
#navbar input[type="search"]::-webkit-search-cancel-button,
#navbar input[type="search"]::-webkit-search-results-button,
#navbar input[type="search"]::-webkit-search-results-decoration {
	appearance: none;
}

#navbar .search-bar {
	width: clamp(var(--search-min-width), 100%, var(--search-max-width));
	height: var(--search-bar-height);
	padding: 0 20px;
	border: 1px solid var(--background-clr-400);
	border-radius: 25em;
	background-color: var(--background-clr-900);
}

#navbar .search-bar:focus {
	border: 1px solid black;
	outline: none;
}

#navbar .links {
	display: flex;
	gap: 40px;
	list-style-type: none;
}

#navbar .links li {
	position: relative;
	cursor: pointer;
	padding: 2px;
	overflow: hidden;
}

#navbar .links li::after {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 1px;
	background-color: black;
	content: "";
	transition: width 1.25s;
}

#navbar a {
	color: black;
	text-decoration: none;
}

#navbar .links li:hover::after {
	width: 100px;
}

#navbar .search-results {
	position: absolute;
	top: calc(var(--search-bar-height) + 10px);
	width: clamp(var(--search-min-width), 20%, var(--search-max-width));
	padding: 5px;
	border: 1px solid var(--background-clr-400);
	border-radius: 10px;
	background-color: var(--background-clr-900);
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-size: small;
	font-weight: 500;
	list-style: none;
}

#navbar .search-results:empty {
	display: none;
}

#navbar .search-results a {
	display: block;
	padding: 5px;
	border-radius: 5px;
}

#navbar .search-results a:hover {
	background-color: var(--background-clr-700);
}
