#explore-page{
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

#explore-page .explore-container{
    display: grid;
    gap: 150px;
    margin: 0px 20px;
    padding: 20px 0px;
    overflow: hidden;
    grid-template-columns: 2fr 5fr 2fr;
    flex: 1;
}

#explore-page .explore-container>*{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

#explore-page .actions>*{
    width: 100%;
    margin: 5px;
    padding: 5px 20px;
    box-sizing: border-box;
}

#explore-page .actions li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    cursor: pointer;
    border-radius: 10px;
    list-style-type: none;
}


#explore-page .actions li:hover{
    background-color: var(--neutral-clr-900);
}

#explore-page .actions li>a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    text-decoration: none;
    flex: 1;
}

#explore-page .actions li img{
    --img-size: 25px;
    width: var(--img-size);
    height: var(--img-size);
}

#explore-page .actions .filters{
    display: none;
    padding: 5px 20px;
    border-radius: 10px;
    background-color: var(--neutral-clr-900);
    box-sizing: border-box;
}

#explore-page .actions li:hover .filters{
    display: block;
    position: absolute;
    top: 0px;
    left: 105%;
}

#explore-page .content-container{
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    overflow: hidden;
    overflow-y: scroll;
}

#explore-page .create{
    --size: 5ch;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2ch;
    position: fixed;
    cursor: pointer;
    bottom: 40px;
    left: 72%;
    width: var(--size);
    height: var(--size);
    padding-left: 2ch;
    border: none;
    border-radius: calc(var(--size)/2);
    background-color: hsl(240,60%,50%);
    color: white;
    overflow: hidden;
    text-wrap-mode: nowrap;
    transition: .5s all;
}

#explore-page .create:hover{
    width: calc(18ch);
}

#explore-page .post-form{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 20px;
    background-color: var(--neutral-clr-900);
    box-shadow: 0px 0px 5px 0px var(--neutral-clr-500);
    border-radius: 10px;
    transform: translate(-50%,-50%);
}

#explore-page .post-form label{
    margin-bottom: 2px;
}

#explore-page .post-form input{
    width: 100%;
	margin-top: 5px;
	margin-bottom: 10px;
	padding: 5px 10px;
	border: none;
	border-radius: 50px;
	box-sizing: border-box;
}

#explore-page .post-form footer{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

#explore-page .post-form button{
    cursor: pointer;
    border: none;
    padding: 5px 0px;
    border-radius: 50px;
    flex: 1;
}

#explore-page .post-form footer>[type="reset"]{
    background-color: var(--neutral-clr-400);
    color: white
}

#explore-page .post-form footer>[type="reset"]:hover{
    background-color: var(--neutral-clr-200);
}

#explore-page .post-form footer>[type="submit"]{
    background-color: hsl(240,60%,50%);
    color: white
}

#explore-page .post-form footer>[type="submit"]:hover{
    background-color: hsl(240,60%,30%);
}