.post{
    --background: var(--neutral-clr-850);
    --gap: 5px;
    --border-radius: 5px;

    width: 100%;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: var(--neutral-clr-950);
    box-sizing: border-box;
}

.post > *{
    margin: var(--gap) 0px;
}

.post header{
    display: flex;
    gap: var(--gap);
    margin-bottom: 10px;
}

.post .profile-picture{
    width: 55px;
    height: 55px;
    border-radius: 50%;

    background-color: var(--background);
}

.post .date{
    display: block;
    font-size: .6rem;
    text-align: end;
}

.post .metadata{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2px 10px;
    border-radius: var(--border-radius);
    background-color: var(--background);
    flex: 1;
}

.post .metadata h2{
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
}

.post .metadata span{
    margin: 0;
    font-size: .75rem;
}

.post .image:not([src]){
    display: none;
}

.post .image{
    width: 100%;
    margin: 0;
    border-radius: var(--border-radius);
    background-color: var(--background);
    min-height: 300px;
    max-height: 900px;
    object-fit: cover;
}

.post .caption {
    padding: 10px;
    border-radius: var(--border-radius);
    background-color: var(--background);
    font-size: .8rem;
}

.post .input-container{
    display: flex;
    gap: var(--gap)
}

.post .input-container input{
    padding: 5px 10px;
    border: none;
    border-radius: var(--border-radius);
    background-color: var(--background);
    flex: 10;
}

.post .input-container input:focus{
    outline: none;
}

.post .input-container button{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    border-radius: var(--border-radius);
    background-color: var(--neutral-clr-700);
    flex: 1;
}

.post .input-container button:hover{
    background-color: var(--neutral-clr-600);
}

.post .post-actions{
    display: flex;
    gap: 2px;
}

.post .post-actions>*{
    display: flex;
    align-items: center;
    gap: 2px;
    cursor: pointer;
    padding: 2px 5px;
    border-radius: 5px;
    font-size: .8rem;
}

.post .post-actions>*:hover{
    background-color: var(--background);
}

.post .post-action>img{
    --img-size: 15px;
    width: var(--img-size);
    height: var(--img-size);
}

.post .comments{
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    margin: 0;
    padding: 0;
}

.post .comment{
    padding: 10px;
    border-radius: var(--border-radius);
    background-color: var(--background);
    font-size: .8rem;
}

.post .comment>header{
    display: flex;
    justify-content: space-between;
    margin: 0px;
    margin-bottom: 5px;
}

.post .comment-info{
    display: flex;
    align-items: center;
    gap: var(--gap);
    font-size: .75rem;
    font-weight: bold;
}

.post .comment-pfp{
    --img-size: 20px;
    width: var(--img-size);
    height: var(--img-size);
    border-radius: 15px;
    background-color: var(--neutral-clr-950);
    object-fit: cover;
}

.post .comment-date{
    justify-self: end;
    font-size: .5rem;
    font-weight: 500;
}

.post .comment>p{
    margin: 0;
    padding: 5px 10px;
    border-radius: var(--border-radius);
    background-color: white;
}