#login-page, #signup-page{
	--left-margin: 2%;
}

#login-page .form,
#signup-page .form {
	position: absolute;
	top: 15%;
	left: 50%;
	width: 30%;
	padding: 20px;
	border-radius: 10px;
	background-color: hsl(0deg 0% 90%);
	box-shadow: 0 0 5px 0 hsl(0deg 0% 50%);
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	transform: translate(-50%,0%);
}

#login-page .form > h2,
#signup-page .form > h2 {
	text-align: center;
}

#login-page .form > fieldset,
#signup-page .form > fieldset {
	margin-bottom: 25px;
	padding: 10px 20px;
	border: 1px solid black;
	border-radius: 5px;
	font-size: large;
}

#login-page .input-field,
#signup-page .input-field {
	width: 100%;
	margin-bottom: 5px;
	overflow: hidden;
	font-size: medium;
	flex-grow: 1;
}

#login-page .input-field > label,
#signup-page .input-field > label {
	display: block;
	margin-left: var(--left-margin);
}

#login-page .issue-container,
#signup-page .issue-container{
	--vertical-margin: 5px;
	margin-top: var(--vertical-margin);
	margin-bottom: var(--vertical-margin);
	color: red;
	font-size: small;
	font-weight: 500;
}

#login-page .issue-container:empty,
#signup-page .issue-container:empty{
	display: none;
}

#login-page .issue,
#signup-page .issue {
	margin: 0;
	text-wrap-style: balance;
}

#login-page .input-field > input,
#signup-page .input-field > input {
	width: 100%;
	margin-top: 5px;
	margin-bottom: 10px;
	padding: 10px 20px;
	border: none;
	border-radius: 50px;
	box-sizing: border-box;
}

#login-page .input-field > input:focus,
#signup-page .input-field > input:focus {
	border: none;
	outline: none;
}

#login-page .form > button,
#signup-page .form > button {
	cursor: pointer;
	width: 100%;
	height: 30px;
	border: 1px solid hsl(0deg 0% 40%);
	border-radius: 5px;
}

#login-page .form > button:hover,
#signup-page .form > button:hover {
	background-color: hsl(0deg 0% 80%);
}

#login-page .form-footer,
#signup-page .form-footer {
	padding: 10px;
	text-align: center;
}

#login-page .redirect-form,
#signup-page .redirect-form {
	display: flex;
	justify-content: center;
	gap: 5px;
	margin: 5px;
}

#login-page .form a,
#signup-page .form a {
	color: hsl(240deg 50% 50%);
	font-weight: bold;
}
