#login-page, #signup-page{
	--left-margin: 2%;
}

#login-page .form-wrapper,
#signup-page .form-wrapper {
	display: flex;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	box-shadow: 0 0 5px 0 var(--neutral-clr-700);
	border-radius: 10px;
	overflow: hidden;
}

#login-page .form-wrapper > *,
#signup-page .form-wrapper > * {
	width: 350px;
}

#login-page .form-wrapper > section,
#signup-page .form-wrapper > section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
	background-color: hsl(240deg 50% 50%);
	text-align: center;
	padding: 0px 25px;
}

#login-page .form-wrapper > section > h2,
#signup-page .form-wrapper > section > h2 {
	margin: 10px;
	font-size: xx-large;
	font-weight: bold;
}

#login-page .form-wrapper > section > p,
#signup-page .form-wrapper > section > p {
	margin: 0;
	font-size: small;
}

#login-page .form,
#signup-page .form {
	padding: 10px 25px;
	background-color: var(--neutral-clr-950);
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#login-page .form > h2,
#signup-page .form > h2 {
	font-size: large;
	margin-bottom: 5px;
}

#login-page .form > .fields,
#signup-page .form > .fields {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

#login-page .input-field,
#signup-page .input-field {
	width: 100%;
	margin-bottom: 5px;
	overflow: hidden;
	font-size: medium;
	flex-grow: 1;
}

#login-page .input-field > label,
#signup-page .input-field > label {
	font-size: small;
	font-weight: 500;
}

#login-page .issue-container,
#signup-page .issue-container{
	--vertical-margin: 5px;
	margin-top: var(--vertical-margin);
	margin-bottom: var(--vertical-margin);
	color: red;
	font-size: small;
	font-weight: 500;
}

#login-page .issue-container:empty,
#signup-page .issue-container:empty{
	display: none;
}

#login-page .issue,
#signup-page .issue {
	margin: 0;
	text-wrap-style: balance;
}

#login-page .input-field > input,
#signup-page .input-field > input {
	width: 100%;
	margin-top: 5px;
	margin-bottom: 10px;
	padding: 10px 20px;
	border: none;
	border-radius: 10px;
	box-sizing: border-box;
	border: 1px solid var(--neutral-clr-900);
}

#login-page .input-field > input:focus,
#signup-page .input-field > input:focus {
	border: 1px solid var(--neutral-clr-400);
	outline: none;
}

#login-page .form > button,
#signup-page .form > button {
	cursor: pointer;
	width: 100%;
	padding: 8px 10px;
	background-color: hsl(240deg 50% 50%);
	border-radius: 5px;
	color: white;
	border: none;
}

#login-page .form > button:hover,
#signup-page .form > button:hover {
	background-color: hsl(240, 50%, 30%);
}

#login-page .form > .loading,
#signup-page .form > .loading {
	cursor: wait;
	background-color: hsl(240, 50%, 30%);
}

#login-page .form-footer,
#signup-page .form-footer {
	padding: 10px;
	text-align: center;
}

#login-page .redirect-form,
#signup-page .redirect-form {
	display: flex;
	justify-content: center;
	gap: 5px;
	margin: 5px;
}

#login-page .form a,
#signup-page .form a {
	color: hsl(240deg 50% 50%);
}

#login-page .form p,
#signup-page .form p {
	margin-top: 0;
	color: var(--neutral-clr-500)
}	