:root {
	--neutral-clr-950: hsl(0deg, 0%, 95%);
	--neutral-clr-900: hsl(0deg, 0%, 90%);
	--neutral-clr-800: hsl(0deg, 0%, 80%);
	--neutral-clr-700: hsl(0deg, 0%, 70%);
	--neutral-clr-600: hsl(0deg, 0%, 60%);
	--neutral-clr-500: hsl(0deg, 0%, 50%);
	--neutral-clr-400: hsl(0deg, 0%, 40%);
	--neutral-clr-300: hsl(0deg, 0%, 30%);
	--neutral-clr-200: hsl(0deg, 0%, 20%);
}
